@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(80, 10, 80);
}

main {
    display: block;
    background-color: white;
    width: 250px;
    height: 625px;
    margin: auto;
    margin-top: 200px;
    border-radius: 10px;
}

img {
    width: 250px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

div#formulario {
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    text-align: justify;
}

div.entrada {
    display: block;
    margin: auto;
    height: 20px;
    width: 200px;
    border: 1px solid rgb(80, 10, 80);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

div.entrada > label {
    color: white;
    background-color: rgb(80, 10, 80);
}

div.entrada > input {
    display: block;
    margin: auto;
    background-color: lightgreen;
}

div#botao > input {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 32vw;
    height: 40px;
}

div > input#entrar {
    background-color: lightgreen;
}

div > input#esenha {
    background-color: white;
}